body{
 /*background-color:  #e4e4e4;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px;
  /*font-family: 'Playfair Display', serif;*/
  font-family: 'Poppins', sans-serif;
  background-image: url(./img/newspaper-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


header{
font-family: 'ChomskyRegular';
display: flex;
justify-content: center;
text-align: center;

}
span{
font-weight: 600;
}

h1{
	text-shadow: 3px 3px hsl(0, 0%, 100%);
font-size: 130px;
 margin: 0px 0px 15px 0px;
 font-weight: 200;
}
header red{
color: red;
}
/* Botones : volver atras y new search*/
#buttonNewSearch{
position: fixed;
left: 0px;
top: 10px;
left: 10px;
display: none;
padding: 10px;
background-color: #fff;
border-style: none;
border-radius:25px; 
color:#666;
font-family: 'Poppins', sans-serif;
}
#imgNewSearch{
width: 10px;
margin-left: 3px;
}
#buttonGoBack{
position: fixed;
left: 0px;
top:60px;
left: 10px;
display: none;
padding: 10px;
background-color: #fff;
border-style: none;
border-radius:25px; 
color:#666;
font-family: 'Poppins', sans-serif;
}
#imgGoBack{
width: 10px;
margin-left: 3px;
}
/* Pantalla : Buscar por ...*/
#startScreen{
justify-content: center;
align-items: center;
text-align: center;
}
#buttonSearchCountry{
padding:20px 95px;
margin-right: 5px;
background-color: #140d4f;
border-style: none;
font-size: 22px;
color:#fff;
font-weight: 800;
font-family: 'Poppins', sans-serif;
border-radius: 5px;
margin-bottom: 5px;
}
#buttonSearchKeyWord{
margin-left: 0%;
padding:20px 38px;
margin-left: 5px;
background-color: DodgerBlue;
border-style: none;
font-size: 22px;
color:#fff;
font-weight: 800;
font-family: 'Poppins', sans-serif;
border-radius: 5px;
}
#startScreen h2{
font-family: 'Indie Flower', cursive;
padding-top: 15%;
font-size: 38px;
font-weight: 200;
margin-top: 60px;
margin-bottom: 30px;
}
/* Pantalla : buscar por País */
#countrySearchScreen {
display:none ;
}
#countryList{
	margin-top: 30%;
	width: 200px;
	height: 50px;
	color: #000;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
#categoryList{
    width: 200px;
    height: 50px;
    color: #000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* Pantalla : Buscar por Palabra clave */
#keyWordSearchScreen {
display:none ;
}
#startDate{
 width: 170px;
	height: 50px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	margin-left: 10px;
}
#keyWordText{
	margin-top: 30%;
	width: 190px;
	height: 50px;
	color: #000;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-align: center;	
}
/* Boton buscar */
#buttonSearchNews{
	display:none ;
	font-family: 'Poppins', sans-serif;
}
#buttonSearchNews{
padding:20px 161px;
background-color: DodgerBlue;
border-style: none;
font-size: 22px;
color:#fff;
font-weight: 800;
border-radius: 5px;
margin-top: 15px;
}
/* Pantalla : loading screen */
h4{
	font-size: 44px;
	margin-top: 100px;
	color :DodgerBlue;
}
/* Pantalla : descripciones de noticias en la lista */
#listNewsScreen{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 text-align: left;
}
.buttonSeeMore{
	padding: 10px 270px;
	color: DodgerBlue;
	border-radius: 5px;
	border: solid 1px DodgerBlue ;
	font-size: 12px;
	background-color: #fff;
	font-family: 'Poppins', sans-serif;	
	text-align: center;
	margin-bottom: 10px;
}
.source{
	font-size: 12px	;
	max-width: 200px;
	color: #666;
	width:300px;
}
.titleNews{
    font-size: 18px;
    font-weight: 600;
    max-width: 600px;
    line-height: 1.4;
    font-family: 'Martel', serif;
}
.description{
    font-size: 14px;
    max-width:500px;
}
.boxNews{
	/*margin-left: 27%;
	/*display: block;*/
	background-color: white;
	margin-bottom: 30px;
	padding:10px;
	width :600px;
	border-radius: 15px	;	
}
.author{
	color: #666;
	display: block;
	max-width: 200px;
	font-size: 12px	;
}
/* Pantalla : detalles de la noticia elejida*/
#articleDetallsScreen{
	max-width: 1100px;
}
#boxChooseNews{
background-color: #fff;
display: none;
padding: 2%	;
border-radius: 5px;
}
#title{
    font-size: 22px;
    font-weight: 600;
    max-width: 800px;
    margin: 0px 0px 0px 0px;
    line-height: 1.4;
    font-family: 'Martel', serif;
}
#source{
  margin: 0px 0px 10px 0px;
  font-size: 16px;
  max-width: 200px;
  color: #666;
  width:300px;
  font-weight: 600;
}
#content{
   max-width:350px;
   margin: 0px 0px 0px 20px;
}
#img1{
	width: 400px;
	display: none;
}
#articleDetallsScreen img{
	width: 400px;
	border-right: 5px solid black;
}
#readArticle{
  margin: 0px 0px 0px 20px;
}
#author{
display: inline-block;
color: #666;
max-width: 200px;
font-size: 14px	;
font-weight: 600;
margin: 10px 0px 0px 0px;
}
#date{
display: inline;
margin: 10px 0px 0px 300px;
color: #666;
max-width: 200px;
font-size: 14px	;
font-weight: 400;
}
#imgAndContent {
	display : none;
	flex-direction: row;
}
#loadingScreen {
	display : none;
}
#notDefined {
	display : none;
}
#footer {
	margin-top: 17%;
}

#notDefined h5{
	font-family: 'Indie Flower', cursive;
	padding-top: 15%;
	font-size: 38px;
	font-weight: 200;
	margin-top: 60px;
	margin-bottom: 30px;
	}